USE [master]
GO
/****** Object:  Database [BDDProyectoArqui]    Script Date: 08/04/2017 21:26:41 ******/
CREATE DATABASE [BDDProyectoArqui] ON  PRIMARY 
( NAME = N'BDDProyectoArqui', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BDDProyectoArqui.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDDProyectoArqui_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BDDProyectoArqui_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDDProyectoArqui].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDDProyectoArqui]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/04/2017 21:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CEDULA] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[PASSWORD] [int] NOT NULL,
	[CORREO] [varchar](30) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 08/04/2017 21:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[ID] [int] IDENTITY NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[PROGRESO] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTIVIDAD]    Script Date: 08/04/2017 21:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVIDAD](
	[ID] [int] IDENTITY NOT NULL,
	[PRO_ID] [int] NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [varchar](10) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[FECHAINICIO] [varchar](12) NOT NULL,
	[FECHAFIN] [varchar](12) NOT NULL,
 CONSTRAINT [PK_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[ACTIVIDAD] 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PROYECTO]    Script Date: 08/04/2017 21:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PROYECTO](
	[ID] [int] NOT NULL,
	[CEDULA] [int] NOT NULL,
 CONSTRAINT [USUARIO_PROYECTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CEDULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[USUARIO_PROYECTO] 
(
	[CEDULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[USUARIO_PROYECTO] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 08/04/2017 21:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAREA](
	[ID] [int] IDENTITY NOT NULL,
	[ACT_ID] [int] NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [varchar](10) NOT NULL,
	[FECHAINICIO] [varchar](12) NOT NULL,
	[FECHAFIN] [varchar](12) NOT NULL,
 CONSTRAINT [PK_TAREA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[TAREA] 
(
	[ACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ACTIVIDA_RELATIONS_PROYECTO]    Script Date: 08/04/2017 21:26:42 ******/
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVIDA_RELATIONS_PROYECTO] FOREIGN KEY([PRO_ID])
REFERENCES [dbo].[PROYECTO] ([ID])
GO
ALTER TABLE [dbo].[ACTIVIDAD] CHECK CONSTRAINT [FK_ACTIVIDA_RELATIONS_PROYECTO]
GO
/****** Object:  ForeignKey [FK_RELATION_RELATIONS_PROYECTO]    Script Date: 08/04/2017 21:26:42 ******/
ALTER TABLE [dbo].[USUARIO_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_RELATION_RELATIONS_PROYECTO] FOREIGN KEY([ID])
REFERENCES [dbo].[PROYECTO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PROYECTO] CHECK CONSTRAINT [FK_RELATION_RELATIONS_PROYECTO]
GO
/****** Object:  ForeignKey [FK_RELATION_RELATIONS_USUARIO]    Script Date: 08/04/2017 21:26:42 ******/
ALTER TABLE [dbo].[USUARIO_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_RELATION_RELATIONS_USUARIO] FOREIGN KEY([CEDULA])
REFERENCES [dbo].[USUARIO] ([CEDULA])
GO
ALTER TABLE [dbo].[USUARIO_PROYECTO] CHECK CONSTRAINT [FK_RELATION_RELATIONS_USUARIO]
GO
/****** Object:  ForeignKey [FK_TAREA_RELATIONS_ACTIVIDA]    Script Date: 08/04/2017 21:26:42 ******/
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD  CONSTRAINT [FK_TAREA_RELATIONS_ACTIVIDA] FOREIGN KEY([ACT_ID])
REFERENCES [dbo].[ACTIVIDAD] ([ID])
GO
ALTER TABLE [dbo].[TAREA] CHECK CONSTRAINT [FK_TAREA_RELATIONS_ACTIVIDA]
GO



--PROCEDIMIENTO INSERTAR PROYECTO
CREATE PROCEDURE insertarProyecto(
@NOMBRE VARCHAR(30),
@DESCRIPCION VARCHAR(200),
@PROGRESO VARCHAR(10) 
)as
INSERT INTO PROYECTO(NOMBRE, DESCRIPCION, PROGRESO)
VALUES (@NOMBRE, @DESCRIPCION, @PROGRESO )
SELECT *FROM PROYECTO


--PROCEDIMIENTO ACTUALIZAR PROYECTO
CREATE PROCEDURE actualizarProyecto(
@ID INT,
@NOMBRE VARCHAR(30),
@DESCRIPCION VARCHAR(200),
@PROGRESO VARCHAR(10) 
)as
UPDATE PROYECTO SET NOMBRE= @NOMBRE, DESCRIPCION= @DESCRIPCION, PROGRESO=@PROGRESO
WHERE ID= @ID
SELECT *FROM PROYECTO

--PROCEDIMIENTO ELIMINAR PROYECTO
CREATE PROCEDURE eliminarProyecto
(@ID  int)
AS DELETE PROYECTO WHERE  ID =@ID


--PROCEDIMIENTO CONSULTAR PROYECTO
CREATE PROCEDURE consultarProyectos
	AS
	SELECT * FROM PROYECTO

