body 
{
    background: background-image : url(Imágenes\fondoprincipal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}


.login {
	
	max-width: 400px;
	margin: 0 auto;
	position: relative;
	top: 7px;
	padding-bottom: 45px;
	text-align: center;
}