<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <connectionStrings>
    <add name="conProyecto"
         connectionString="Data Source=(local);Initial Catalog=BDDProyectoArqui;Integrated Security=True"
         providerName="System.data.SqlClient"/>

  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
