<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <connectionStrings>
    <add name="conProyecto" connectionString="Data Source=PACHA-PC\SQLEXPRESS;&#xD;&#xA;         Initial Catalog=BDDProyectoArqui;Integrated Security=True"
      providerName="System.data.SqlClient" />
    <add name="BDDProyectoArquiConnectionString" connectionString="Data Source=PACHA-PC\SQLEXPRESS;Initial Catalog=BDDProyectoArqui;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
